<!DOCTYPE html>
<html>
  <head>
    <title>Kelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript">
      window.formimage = "<%= image_url('formimage.png') %>";
      window.cat = "<%= image_url('cat.png') %>";
      window.logo = "<%= image_url('kelp_logo.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
