<!DOCTYPE html>
<html>
  <head>
    <title>Kelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <link rel="shortcut icon" type="image/x-icon" href="<%= image_url('favicon.ico')%>">
    <script type="text/javascript">
      window.formimage = "<%= image_url('formimage.png') %>";
      window.cat = "<%= image_url('cat.png') %>";
      window.logo = "<%= image_url('kelp_logo.png') %>";
      window.smalllogo = "<%= image_url('small_kelp_logo.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
